services:
  # Banco do sistema monolítico
  db:
    image: postgres:15
    container_name: rh_postgre
    restart: always
    environment:
      POSTGRES_DB: rh-database
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: senha
    ports:
      - "5432:5432"
    volumes:
      - pgdata-mono:/var/lib/postgresql/data
    networks:
      - rh-network

  # Aplicação monolítica
  app:
    build: .
    container_name: rh_app
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/rh-database
      SPRING_DATASOURCE_USERNAME: usuario
      SPRING_DATASOURCE_PASSWORD: senha
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
    working_dir: /app
    command: ["./mvnw", "spring-boot:run"]
    networks:
      - rh-network

  # Banco do microserviço de usuários
  usuarios-db:
    image: postgres:15
    container_name: usuarios_db
    restart: always
    environment:
      POSTGRES_DB: db-usuarios
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5433:5432"
    volumes:
      - pgdata-usuarios:/var/lib/postgresql/data
    networks:
      - rh-network

  # Microserviço de usuarios
  usuarios-service:
    build: ./usuarios-service
    container_name: usuarios-service
    depends_on:
      - usuarios-db
    ports:
      - "8081:8081"
    networks:
      - rh-network

  # Banco do microserviço de vagas
  vagas-db:
    image: postgres:15
    container_name: vagas_db
    restart: always
    environment:
      POSTGRES_DB: db-vagas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5434:5432"
    volumes:
      - pgdata-vagas:/var/lib/postgresql/data
    networks:
      - rh-network

  # Microserviço de vagas
  vagas-service:
    build: ./vagas-service
    container_name: vagas-service
    depends_on:
      - vagas-db
    ports:
      - "8082:8082"
    networks:
      - rh-network
  
# Banco do microserviço de candidaturas
  candidaturas-db:
    image: postgres:15
    container_name: candidaturas_db
    restart: always
    environment:
      POSTGRES_DB: db-candidaturas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5435:5432"
    volumes:
      - pgdata-candidaturas:/var/lib/postgresql/data
    networks:
      - rh-network

  # Microserviço de candidaturas
  candidaturas-service:
    build: ./candidaturas-service
    container_name: candidaturas-service
    depends_on:
      - candidaturas-db
    ports:
      - "8083:8083"
    networks:
      - rh-network

  # Microserviço de email
  email-service:
    build: ./email-service
    container_name: email-service
    ports:
      - "8084:8084"
    networks:
      - rh-network

  

volumes:
  pgdata-mono:
  pgdata-usuarios:
  pgdata-vagas:
  pgdata-candidaturas:

networks:
  rh-network:
    driver: bridge
